<table>
    {% for item in data %}
        <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.identifier }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.firstLastname }}</td>
        </tr>
    {% endfor %}
</table>
